.about__container {
  @include container;
  padding: 110px 0;
  min-height: 590px;
  background-image: url('images/about-pets.png');
  background-repeat: no-repeat;
  background-position: 170px 90px;
}

.about__content {
  width: 40%;
  margin-left: 50%;
}

.about__title {
  margin-bottom: 40px;
}

.about__description {
  margin-bottom: 30px;
  color: $font-color;
}
